*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100;
  }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FF7F		;
  }
  .container{
    height: 90vh;
    width: 95vw;
    background-color:#98FB98	;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .head{
    height: 15vh;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c70039;
    padding: 0 2.5rem;
  }
  img{
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    
  }
  .btn{
    height: 4vh;
    width: 5vw;
    border: none;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .blue{
    background-color: blue;
  }
  .blue:hover{
    background-color: darkblue;
  }
  .green{
    background-color: green;
  }
  .green:hover{
    background-color: darkgreen;
  }
  .red{
    background-color: red;
  }
  .red:hover{
    background-color: darkred;
  }
  .table{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #ccc; */
    
  }
  table{
    height: 75vh;
    width: 95%;
    background-color: white;
    border: 0.15rem solid #2F4F4F	;
    /* border: none; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    border-collapse: collapse;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(255, 255, 255, 0.95); */
   
    
  }
  /* table::-webkit-scrollbar{
    display: none;
  } */
  thead{
    height: 6.8vh;
    width: 100%;
    /* background-color: rgb(255, 0, 212); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    
  }
  tr{
    height: 6.8vh;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  th{
    height: 6.8vh;
    width: 14.5%;
    background-color: goldenrod;
    border: 0.15rem solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-collapse: collapse; */
    
  }
  tbody{ 
    height: 55vh;
  }
  td{
    height: 6.8vh;
    width: 14.5%;
    border: 0.15rem solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F4F4F;
    cursor: pointer;
    
  }
  tr:hover{
    background-color: #F0F8FF;
  }
  footer{
    height: 5vh;
    width: 100%;
  }
  